@import '../styles/modules';

.nav {
    box-shadow: 0px 10px 10px -15px #111; 

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        padding-block: 7px;

        @include onDesktop-s {
            max-width: 1024px;
            @include centralize;
        }
    }

    &__item {

    }

    &__link {
    color: red;
    text-align: center;
    text-decoration: none;
    font-weight: 600;


        &--logo {
            display: block;
            color: red;
            min-width: 140px;
            height: 45px;
            background-image: url('../../public/images/logotype.gif');
            background-size: contain;
            background-repeat: no-repeat;

            @include onTablet {
            height: 60px;
            }
        }

        &--login {
            display: block;
            height: 30px;
            line-height: 30px;
            background-color: #f91228;
            color: #fff;
            padding-inline: 35px;
            padding-block: 4px;
            border-radius: 5px;
            font-size: 15px;

            @include onTablet {
                height: 40px;
                line-height: 40px;
                padding-inline: 40px;
                font-size: 18px;
            }

            @include onDesktop-s {
                height: 35px;
                line-height: 35px;
                font-size: 16px;
            }
        }
    }
}